{
  "presets":["@babel/react", "@babel/env"],
  "plugins": [
//    "dva-hmr",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "import", {
        "libraryName": "antd",
        "style": "true"
      }
    ]
  ]
}
