{
  "presets":[
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": 12,
          "esmodules": true
        },
        "bugfixes": true,
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useESModules": true
      }
    ],
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    ["@umijs/babel-plugin-auto-css-modules"]
  ]
}
