{
  "parser": "babel-eslint",
  "plugins": ["eslint-plugin-react", "eslint-plugin-react-hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 2018,
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "polyfills": [
      "fetch",
      "promises"
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "linebreak-style": 0,
    "camelcase": 0,
    "no-console": 0,
    "generator-star-spacing": [
      0
    ],
    "consistent-return": [
      0
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/forbid-prop-types": [
      0
    ],
    "react/state-in-constructor": [0],
    "react/static-property-placement": [0],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-one-expression-per-line": [
      0
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "global-require": [
      1
    ],
    "import/prefer-default-export": [
      0
    ],
    "import/no-cycle": [
      0
    ],
    "react/jsx-no-bind": [
      0
    ],
    "react/prop-types": [
      0
    ],
    "react/prefer-stateless-function": [
      0
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "ignore"
      }
    ],
    "no-else-return": [
      0
    ],
    "no-restricted-syntax": [
      0
    ],
    "import/no-extraneous-dependencies": [
      0
    ],
    "no-use-before-define": [
      0
    ],
    "no-nested-ternary": [
      0
    ],
    "arrow-body-style": [
      0
    ],
    "import/extensions": [
      0
    ],
    "no-bitwise": [
      0
    ],
    "no-cond-assign": [
      0
    ],
    "import/no-unresolved": [
      0
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "object-curly-newline": [
      0
    ],
    "function-paren-newline": [
      0
    ],
    "no-restricted-globals": [
      0
    ],
    "require-yield": [
      1
    ],
    "react/jsx-no-target-blank": 0
  }
}
