# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript
package-lock.json

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Node.JS specifics
pids
lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

results

# MacOSX specifics
.DS_Store

# Build artifacts
tmp
bower_components
.sass-cache
build/Release

# IDE specifics
.idea

# temp files
.tmp
mock
dist
build
